.container {
  > .column {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .container--content-left {
    display: flex;
    > :first-child {
      margin-right: 8.33%;
      width: 41.66%;
    }
    > :last-child {
      width: 50%;
    }
  }
  .container--justify {
    justify-content: space-between;
  }
  .container {
    display: flex;
    .column {
      margin-bottom: 0;
    }
    .column:not(:first-child) {
      margin-left: 1rem;
    }
    .column:not(:last-child) {
      margin-right: 1rem;
    }
    .column--1 {
      width: 8.33%;
    }
    .column--2 {
      width: 16.66%;
    }
    .column--3 {
      width: 25%;
    }
    .column--4 {
      width: 33.33%;
    }
    .column--5 {
      width: 41.66%;
    }
    .column--6 {
      width: 50%;
    }
    .column--7 {
      width: 58.33%;
    }
    .column--8 {
      width: 66.66%;
    }
    .column--9 {
      width: 75%;
    }
    .column--10 {
      width: 83.33%;
    }
    .column--11 {
      width: 91.66%;
    }
    .column--12 {
      width: 100%;
    }
  }
}
