@media (min-width: 768px) {
  .container--content-left {
    display: flex;
    > :first-child {
      margin-right: 8.33%;
      width: 41.66%;
    }
    > :last-child {
      width: 50%;
    }
  }
}
