* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1;
}

body {
  background-color: $white;
  color: $font-color;
  font-family: $font-body;
}

main {
  min-height: 80vh;
}

h1,
h2 {
  font-family: $font-header;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-family: $font-header;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

h4,
.h--4 {
  font-family: $font-body;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3,
h4 {
  line-height: 1.5;
}

p {
  line-height: 1.75;
  margin-bottom: 2rem;
}

.p--large {
  font-size: 18px;
}

strong {
  font-weight: bold;
}

a {
  color: $font-color;
  font-weight: bold;
  &:hover,
  &:focus,
  &:visited {
    color: $font-color;
  }
}

.link {
  color: $red;
  &:hover,
  &:focus,
  &:visited {
    color: $red;
  }
}

.ol,
.ul {
  padding-left: 1rem;
  li {
    line-height: 1.75;
  }
  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.ol:not(:last-child),
.ul:not(:last-child) {
  margin-bottom: 1rem;
}

.ol {
  list-style: decimal;
}

.ul {
  list-style: disc;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4,
  .h--4 {
    font-size: 1rem;
  }
  section {
    padding: 0 2rem;
  }
}
