.hero {
  padding-top: calc(3em + 10vh);
}

.hero--landing {
  padding-bottom: 10vh;
}

.hero__text--landing {
  max-width: 725px;
}

@media (min-width: 768px) {
  .hero {
    padding-top: calc(3em + 20vh);
  }
  .hero--landing {
    padding-bottom: 20vh;
  }
}
