.section--hero {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: space-around;
  margin-bottom: 4rem;
  position: relative;
}

.section--container {
  margin: 4rem auto;
  max-width: 1112px;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .section--container {
    padding: 0 2rem;
  }
}
