.style--center {
  text-align: center;
}

.style--right {
  text-align: right;
}

.style--box-shadow {
  box-shadow: $box-shadow;
}

.style--box-shadow-small {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.style--hyphens {
  hyphens: auto;
}

.style--no-margin {
  margin: 0;
}

.style--margin-bottom-2 {
  margin-bottom: 2rem;
}

.style--margin-bottom-3 {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .style--hidden-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .style--hidden-desktop {
    display: none;
  }
  .style--66 {
    max-width: 66%;
  }
  .style--75 {
    max-width: 75%;
  }
}
