$font-header: 'Oswald', sans-serif;
$font-body: 'Lato', sans-serif;
$font-color: #383838;
$red: #C9574F;
$white: #FFFFFF;
$blue1: #4875A3;
$blue2: rgba(76, 149, 173, 0.5);
$green1: #4A9796;
$green2: #4CAD90;
$box-shadow: 0 0 30pt rgba(0, 0, 0, 0.1);
